.banner-button{
    color: black;
    height:3rem;
    width:10rem;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    background-color:#1E90FF;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}   

.banner-button:hover{
    background-color: #1362b1;
    transform: translateY(-5px);
}